html, body {
  background-color: #111;
  display: inline-block;
  height: 100%;
  position: relative;
  width: 100%;
}

.container {
  display: block;
  margin: auto auto;
  max-width: 900px;
  text-align: center;
  top: 50%;
}

.container > h1 {
  color: #eee;
  font-family: helvetica;
  font-size: 32px;
}
